<div style="margin-top: 5%; margin-right: 30%;" dir="rtl">
  <form (submit)="onSave()" name="addNewBook" ngNativeValidate>
    <mat-form-field class="text-box-width-fifty">
      <input matInput #bookName id="bookName" name="bookName"
             (focus)="bindKeyboard(bookName)" (keyup.enter)="onEnter(bookName.value)"
             required placeholder="کتاب کا نام"
             oninvalid="this.setCustomValidity('کتاب کا نام')"
             oninput="setCustomValidity('')">
    </mat-form-field>
    <br>
    <mat-form-field class="text-box-width-fifty">
      <input matInput #bookAuthor id="bookAuthor" name="bookAuthor"
             (focus)="bindKeyboard(bookAuthor)"
             required placeholder="کتاب کے مصنف"
             oninvalid="this.setCustomValidity('کتاب کا مصنف')"
             oninput="setCustomValidity('')">
    </mat-form-field>
    <br>
    <mat-form-field class="text-box-width-fifty">
      <input matInput #bookPublisher id="bookPublisher" name="bookPublisher"
             (focus)="bindKeyboard(bookPublisher)"
             required placeholder="ادرہ اعشاعت"
             oninvalid="this.setCustomValidity('ادرہ اعشاعت')"
             oninput="setCustomValidity('')">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">محفوظ کریں</button>
    <br>
    <small id="status" style="font-size: 12px; color: red !important;"></small>
  </form>
</div>
