/* You can add global styles to this file, and also import other style files */
/*@import "@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "~assets/fonts/noto/font.css";

* {
    direction: rtl;
    font-family: 'NotoNaskhArabicUI-Bold';
    font-size: 16px;
}

/* .mat-mdc-header-cell {
  font-family: inherit;
}

.mat-mdc-standard-chip {
  font-family: inherit !important;
}

.mat-mdc-menu-item {
  font-family: inherit;
}

.mat-mdc-cell {
  font-family: inherit;
}

.mat-mdc-menu-item {
  font-family: inherit;
}

.mat-mdc-form-field {
  line-height: inherit;
} */
