/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~assets/fonts/noto/font.css";

* {
    direction: rtl;
    /*font-family: 'NotoNaskhArabic-Bold';*/
    /*font-family: NotoNastaliqUrdu;*/
    font-family: 'NotoNaskhArabicUI-Bold';
    font-size: 16px;
}

.mat-menu-item {
  font-family: inherit;
}

.mat-form-field {
  line-height: inherit;
}
