\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\]]]]]]]<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>مظاہرالعلوم</title>
  <base href="/ui/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="assets/css/mazahireuloom.css">
<link rel="stylesheet" href="/ui/styles.e904d57320eec8e7eedc.css"></head>
<body>
  <app-root></app-root>

  <!-- jQuery -->
  <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="assets/js/yauk.js"></script>
<script src="/ui/runtime-es2015.bc2a39cc0e56576661bf.js" type="module"></script><script src="/ui/runtime-es5.bc2a39cc0e56576661bf.js" nomodule defer></script><script src="/ui/polyfills-es5.0574b59136d50de45b61.js" nomodule defer></script><script src="/ui/polyfills-es2015.ca64e4516afbb1b890d5.js" type="module"></script><script src="/ui/main-es2015.95ab47fd1c3389a95abb.js" type="module"></script><script src="/ui/main-es5.95ab47fd1c3389a95abb.js" nomodule defer></script></body>
[{</html>
b