<div style="margin-top: 5%; margin-right: 23%;" dir="rtl">
  <form (submit)="onSave()"  #addNewLibrary="ngForm" ngNativeValidate>
    <mat-form-field class="text-box-width-seventy-five" appearance="outline">
      <mat-label>مكتبة کا نام</mat-label>
      <input matInput #libraryName name="libraryName"
             (focus)="bindKeyboard(libraryName)" (blur)="hideKeyboard()" [(ngModel)]="library.libraryName"
             required placeholder="مكتبة کا نام"
             oninvalid="this.setCustomValidity('مكتبة کا نام کا اندراج کریں')"
             oninput="setCustomValidity('')">
    </mat-form-field>
    <br>
    <mat-form-field class="text-box-width-seventy-five" appearance="outline">
      <mat-label>مكتبة کا نمبر</mat-label>
      <input matInput #libraryNumber name="libraryNumber" [(ngModel)]="library.libraryNumber"
             (focus)="bindKeyboard(libraryNumber)" (blur)="hideKeyboard()"
             required placeholder="مكتبة کا نمبر"
             oninvalid="this.setCustomValidity('مكتبة کا نمبر کا اندراج کریں')"
             oninput="setCustomValidity('')">
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary" [disabled]="!addNewLibrary.form.valid">محفوظ کریں</button>
    <br>
    <small id="status" [ngStyle]="statusStyle"></small>
  </form>
</div>
<ng-template #template>
  <div style="width: 100%">
    <img src="assets/images/kb.png" style="width: inherit;">
  </div>
</ng-template>
