<mat-card>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>مظاہر العلوم</span>&nbsp;
      <div style="width: 100%; margin-right: 5%;">
        <a mat-button [matMenuTriggerFor]="menu">کتابیں</a>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/books">اندراج شدہ کتابیں</a>
          <a mat-menu-item routerLink="books/add">کتاب کا اندراج</a>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-card>
