<div style="margin-top: 5%; margin-right: 23%;" dir="rtl">
  <form (submit)="onUpdate()" #editLibrary="ngForm" ngNativeValidate>
    <mat-form-field class="text-box-width-seventy-five" appearance="outline">
      <mat-label>لابیرری کا نام</mat-label>
      <input matInput #libraryName name="libraryName" [(ngModel)]="library.libraryName"
             (focus)="bindKeyboard(libraryName)" (blur)="hideKeyboard()"
             required placeholder="لابیرری کا نام"
             oninvalid="this.setCustomValidity('لابیرری کے نام کا اندراج کریں')"
             oninput="setCustomValidity('')">
    </mat-form-field>
    <br>
    <mat-form-field class="text-box-width-seventy-five" appearance="outline">
      <mat-label>لابیرری کا نمبر</mat-label>
      <input matInput #libraryNumber name="libraryNumber" [(ngModel)]="library.libraryNumber"
             (focus)="bindKeyboard(libraryNumber)"
             (blur)="hideKeyboard()"
             required placeholder="لابیرری کا نمبر"
             oninvalid="this.setCustomValidity('لابیرری کے نمبر کا اندراج کریں')"
             oninput="setCustomValidity('')">
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary" [disabled]="!editLibrary.form.valid">محفوظ کریں</button>&nbsp;&nbsp;
    <button type="button" mat-raised-button  (click)="onDelete()">حذف کردیں</button>
    <br>
    <small id="status" [ngStyle]="statusStyle"></small>
  </form>
</div>
<ng-template #template>
  <div style="width: 100%">
    <img src="/assets/images/kb.png" style="width: inherit;">
  </div>
</ng-template>

<ng-template #dialogTemplate>
  <div dir="rtl">
    <h2 mat-dialog-title>مظاہر العلوم</h2>
    <mat-dialog-content>کیا آپ کو یقین ہے؟</mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>نہیں</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]="true">جی ہاں</button>
    </mat-dialog-actions>
  </div>
</ng-template>
